<div class="container text-center">
    <h1 class="pb-5">A special thanks to our amazing contributors!</h1>
    <div class="mx-auto pb-5">
        <% data.forEach((el) => { %>
            <a href="https://github.com/<%= el.login %>"><img src="<%= el.avatar_url %>" alt="<%= el.login %>" title="<%= el.login %>" width="75" height="75" style="border-radius: 50%;" class="inline-block align-middle"></a>
        <% }) %>
    </div>
    <a href="https://github.com/decca-dev/blog-house" class="btn btn-primary">Github repository</a>
</div>