<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h3>BlogHouse</h3>
        <h6>Create an account with BlogHouse and enjoy the best blogging experience</h6>
        <img src="../public/art/logo.png" width="20%" class="mx-auto">
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">
          <i class="fas fa-user"></i> Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">
          <img src="../public/emojis/login.svg" alt="login" width="25" height="25" class="inline-block align-middle"> Login</a>
      </div>
    </div>
  </div>