<%- include('partials/navbar') %>
<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ff5500" fill-opacity="1" d="M0,64L21.8,96C43.6,128,87,192,131,192C174.5,192,218,128,262,133.3C305.5,139,349,213,393,240C436.4,267,480,245,524,224C567.3,203,611,181,655,186.7C698.2,192,742,224,785,208C829.1,192,873,128,916,106.7C960,85,1004,107,1047,101.3C1090.9,96,1135,64,1178,58.7C1221.8,53,1265,75,1309,106.7C1352.7,139,1396,181,1418,202.7L1440,224L1440,0L1418.2,0C1396.4,0,1353,0,1309,0C1265.5,0,1222,0,1178,0C1134.5,0,1091,0,1047,0C1003.6,0,960,0,916,0C872.7,0,829,0,785,0C741.8,0,698,0,655,0C610.9,0,567,0,524,0C480,0,436,0,393,0C349.1,0,305,0,262,0C218.2,0,175,0,131,0C87.3,0,44,0,22,0L0,0Z"></path>
</svg>
<div class="container">
    <h1 class="pb-3">BlogHouse, taking blogs to the moon <img src="../public/emojis/rocket.svg" alt="rocket" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-5">Making blogs just got more fun!</h5>
    <h1 class="pb-3">Discover other bloggers <img src="../public/emojis/thumbsup.svg" alt="thumbsup" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-5">You can see other peoples' blogs and follow them to get informed about their future posts.</h5>
    <h1 class="pb-3">Share your magic with the world <img src="../public/emojis/world.svg" alt="world" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-5">You can easily write a sick looking blogs with just a little bit of markdown</h5>
    <a href="/form" type="button" class="btn btn-primary">Get Started</a>
</div>
<style>
</style>