<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="pt-10">
    <path fill="#ff5500" fill-opacity="1" d="M0,64L20,90.7C40,117,80,171,120,165.3C160,160,200,96,240,58.7C280,21,320,11,360,37.3C400,64,440,128,480,181.3C520,235,560,277,600,261.3C640,245,680,171,720,133.3C760,96,800,96,840,112C880,128,920,160,960,149.3C1000,139,1040,85,1080,69.3C1120,53,1160,75,1200,85.3C1240,96,1280,96,1320,128C1360,160,1400,224,1420,256L1440,288L1440,0L1420,0C1400,0,1360,0,1320,0C1280,0,1240,0,1200,0C1160,0,1120,0,1080,0C1040,0,1000,0,960,0C920,0,880,0,840,0C800,0,760,0,720,0C680,0,640,0,600,0C560,0,520,0,480,0C440,0,400,0,360,0C320,0,280,0,240,0C200,0,160,0,120,0C80,0,40,0,20,0L0,0Z"></path>
</svg>
<div class="container">
    <h1 class="pb-3">BlogHouse, taking blogs to the moon <img src="../public/emojis/rocket.svg" alt="rocket" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-3">Making blogs just got more fun!</h5>
    <h2 class="text-muted italic pb-5">BlogHouse is designed to make writing blogs fun and easy for everyone!</h2>
    <img src="../public/art/Rectangle 1.png" alt="" width="300" height="300" class="bg-black rounded-xl shadow-md float-right" data-aos="fade-left">
    <h1 class="pb-3">Discover other bloggers <img src="../public/emojis/thumbsup.svg" alt="thumbsup" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-36">You can see other peoples' blogs and follow them to get informed about their future posts.</h5>
    <img src="../public/art/Rectangle 2.png" alt="" width="300" height="300" class="bg-black rounded-xl shadow-md float-left" data-aos="fade-right">
    <h1 class="pb-3">Share your magic with the world <img src="../public/emojis/world.svg" alt="world" width="25" height="25" class="inline-block align-middle"></h1>
    <h5 class="pb-36">You can easily write a sick looking blogs with just a little bit of markdown</h5>
    <% if (!user) { %>
        <a href="/form" type="button" class="btn btn-primary">Get Started</a>
    <% } %>
</div>