<footer class="footer">
  <div class="footer-left">
    <h2 class="heading">Fun fact</h2>
    <strong><p id="facts"></p></strong>
    <div class="socials">
      <a href="https://dsc.gg/decca">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://github.com/decca-dev/blog-house">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <ul class="footer-right">
    <li>
      <h2 class="heading">About</h2>
      <ul class="box">
        <li><a href="/about">About us</a></li>
      </ul>
    </li>
    <li class="features">
      <h2 class="heading">Resources</h2>
      <ul class="box">
        <li><a href="/api">API</a></li>
        <li><a href="/contributors">Contributors</a></li>
        <li><a href="/changelog">Changelog</a></li>
      </ul>
    </li>
    <li>
      <h2 class="heading">Support</h2>
      <ul class="box">
        <li><a href="https://dsc.gg/decca">Discord</a></li>
      </ul>
    </li>
  </ul>
  <div class="footer-bottom">
    <img
      src="../../public/art/logo.png"
      alt="logo"
      width="10%"
      class="mx-auto pb-10"
    />
    <p>All Rights Reserved &copy;</p>
  </div>
</footer>
<script>
  const facts = [
    "BlogHouse's name is inspired by DogeHouse while DogeHouse's name is inspired from ClubHouse.",
    "BlogHouse now has an API.",
    "BlogHouse now has a leaderboard for people with the most positive reputation and the most viewed posts.",
    "BlogHouse was planned ever since DogeHouse became popular.",
    "BlogHouse is an open source platform.",
    "BlogHouse's color palette is made of: #ff5500, #ff8400 and #fffff."
  ];

  const factEl = document.querySelector('#facts');
  factEl.innerHTML = facts[Math.floor(Math.random() * facts.length)];
</script>