<footer>
    <div class="text-center pt-28 pb-10">
        <img src="../../public/art/logo.png" alt="logo" width="50" height="50" class="inline-block align-middle pb-4">
        <h4>&copy; Blog House | All rights reserved</h4>
        <h4>For support: <a href="https://dsc.gg/decca" class="links">Discord server</a></h4>
        <h4><a href="https://github.com/decca-dev/blog-house" class="links">GitHub Repository</a></h4>
    </div>
</footer>
<style>

    .links {
        text-decoration: none;
        color: white;
    }

    .links:hover{
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }

    footer{
        background-image: url('../../public/assets/footer.svg');
        background-repeat: repeat-x;
    }
</style>