<footer class="footer">
  <div class="footer-left">
    <h2 class="heading">Fun fact</h2>
    <strong><p id="facts"></p></strong>
    <div class="socials">
      <a href="https://dsc.gg/decca">
        <i class="fab fa-discord"></i>
      </a>
      <a href="https://github.com/decca-dev/blog-house">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <ul class="footer-right">
    <li>
      <h2 class="heading">About</h2>
      <ul class="box">
        <li><a href="/about">About us</a></li>
      </ul>
    </li>
    <li class="features">
      <h2 class="heading">Resources</h2>
      <ul class="box">
        <li><a href="/api">API</a></li>
        <li><a href="/contributors">Contributors</a></li>
        <li><a href="/changelog">Changelog</a></li>
      </ul>
    </li>
    <li>
      <h2 class="heading">Support</h2>
      <ul class="box">
        <li><a href="https://dsc.gg/decca">Discord</a></li>
      </ul>
    </li>
  </ul>
  <div class="footer-bottom">
    <img
      src="../../public/art/logo.png"
      alt="logo"
      width="10%"
      class="mx-auto pb-10"
    />
    <p>All Rights Reserved &copy;</p>
  </div>
</footer>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
  footer {
    font-family: "Poppins", sans-serif;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: #ff5500;
  }
  .footer > * {
    flex: 1 100%;
  }
  .footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
    background-image: url("../../public/assets/blob1.svg");
    background-repeat: no-repeat;
  }
  .heading {
    font-weight: 600;
    font-size: 17px;
  }
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  .footer li {
    line-height: 2em;
  }
  .footer a {
    text-decoration: none;
  }
  .footer-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row wrap;
    background-image: url("../../public/assets/blob2.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .footer-right > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  .box a {
    color: #000;
  }
  .footer-bottom {
    text-align: center;
    color: #000;
    padding-top: 10%;
    background-image: url("../../public/assets/blob2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .footer-left p {
    padding-right: 20%;
    color: #000;
  }
  .socials a {
    background: transparent;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
  }
  .socials a i {
    color: #fff;
    padding: 10px 12px;
    font-size: 30px;
  }
  @media screen and (min-width: 600px) {
    .footer-right > * {
      flex: 1;
    }
    .footer-left {
      flex: 1 0px;
    }
    .footer-right {
      flex: 2 0px;
    }
  }
</style>
<script>
  const facts = [
    "BlogHouse's name is inspired by DogeHouse while DogeHouse's name is inspired from ClubHouse.",
    "BlogHouse now has an API.",
    "BlogHouse now has a leaderboard for people with the most positive reputation and the most viewed posts.",
    "BlogHouse was planned ever since DogeHouse became popular.",
    "BlogHouse is an open source platform.",
    "BlogHouse's color palette is made of: #ff5500, #ff8400 and #fffff."
  ];

  const factEl = document.querySelector('#facts');
  factEl.innerHTML = facts[Math.floor(Math.random() * facts.length)];
</script>