<footer>
    <div class="text-center pt-36 pb-16">
    </div>
</footer>
<style>

    .links {
        text-decoration: none;
        color: white;
    }

    .links:hover{
        color: white;
        cursor: pointer;
        text-decoration: underline;
    }

    footer{
        background-image: url('../../public/assets/footer.svg');
        background-repeat: repeat-x;
    }
</style>