<% if (user) { %> <% if(user.isBanned) { %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        class="mr-3 ml-2"
        src="../../public/art/logo.png"
        alt="logo"
        width="50"
        height="50"
      />
      BlogHouse</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<% } else { %>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="/">
      <img
        src="../../public/art/logo.png"
        alt="logo"
        width="30"
        height="24"
        class="d-inline-block align-text-top mr-2 ml-1"
      />BlogHouse</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link ml-1" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      
      <% if (user.isAdmin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/admin"
          ><i class="fas fa-user-shield"></i> Panel</a
        >
      </li>
      <% } %>
      <li class="nav-item active">
        <a class="nav-link" href="/articles"
          ><i class="fas fa-scroll"></i> Articles</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"
          ><img src="<%= user.avatar %>" alt="avatar" class="inline-block align-top" width="25" height="25" style="border-radius: 50%;"/> Dashboard</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-plus"></i> More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/articles/new"
            ><img
              src="../../public/art/new.png"
              alt="new"
              class="inline-block align-middle"
              width="25"
              height="25"
            />
            Create post</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/api"
            ><img
              src="../../public/art/developer.png"
              alt="developer"
              class="inline-block align-middle"
              width="25"
              height="25"
            />
            API</a
          >
          <a class="dropdown-item" href="/users/logout"
            ><img
              src="../../public/emojis/logout.svg"
              alt="logout"
              class="inline-block align-middle"
              width="25"
              height="25"
            />
            Logout</a
          >
        </div>
      </li>
      <li class="nav-item ml-80">
        <form action="/" method="GET" class="form-inline my-2 my-lg-0 mr-1">
          <div class="input-group">
            <input
              type="search"
              class="form-control search-input"
              placeholder="Find blogs and users"
              aria-label="Search"
              aria-describedby="basic-addon2"
              name="search"
              id="search"
            />
            <span class="input-group-btn">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
                Search
              </button>
            </span>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>
<% } %> <% }else { %>
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="../../public/art/logo.png"
      alt="logo"
      width="30"
      height="24"
      class="d-inline-block align-text-top mr-2 ml-1"
    />BlogHouse</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link ml-1" href="/"><i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ml-1" href="/articles"
          ><i class="fas fa-scroll"></i> Articles</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link ml-1" href="/users/login"
          >You are currently browsing as a guest | 💚 <strong>Login</strong></a
        >
      </li>
    </ul>
    <form action="/" method="GET" class="form-inline my-2 my-lg-0 mr-1">
      <div class="input-group">
        <input
          type="search"
          class="form-control search-input"
          placeholder="Find blogs and users"
          aria-label="Search"
          aria-describedby="basic-addon2"
          name="search"
          id="search"
        />
        <span class="input-group-btn">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            Search
          </button>
        </span>
      </div>
    </form>
  </div>
</nav>
<% } %>
