<div class="container">
    <h1 class="text-center">BlogHouse logs</h1>
    <%- include('logs') %>
    <div class="pt-10">
        <h1 class="pb-3 text-center">Admin Changelog</h1>
        <%- include('changelog') %>
    </div>
</div>