<div class="container text-center">
  <img
    src="../../public/emojis/denied.svg"
    alt="denied"
    width="200"
    height="200"
    class="mx-auto mb-4"
  />
  <h1>401</h1>
  <h2 class="mb-4">Unauthorized</h2>
  <a href="/users/login" class="btn btn-primary">Login</a>
</div>
