<div class="container text-center">
  <img
    src="../../public/emojis/denied.svg"
    alt="denied"
    width="200"
    height="200"
    class="mx-auto mb-4"
  />
  <h1>403</h1>
  <h2 class="mb-4">Forbidden</h2>
  <a href="/" class="btn btn-primary">Go back home</a>
</div>
