<div class="container text-center">
  <img
    src="../../public/emojis/question.svg"
    alt="question"
    width="200"
    height="200"
    class="mx-auto mb-4"
  />
  <h1>404</h1>
  <h2 class="mb-4">Not Found</h2>
  <a href="/" class="btn btn-primary">Go back home</a>
</div>
