::selection,
::-moz-selection {
  background-color:#ff5500;
  color: white;
}

.btn-primary {
  background-color:#ff5500 !important;
  border-color:#ff5500 !important;
}

.btn-outline-primary {
  color:#ff5500 !important;
  border-color:#ff5500 !important;
}

.btn-outline-primary:hover {
  background-color:#ff5500 !important;
  color: white !important;
}

.btn-outline-primary:focus {
  background-color:#ff5500 !important;
  color: white !important;
}

.btn-primary:focus,
.btn-outline-primary:focus,
.form-control:focus {
  border-color:#ff5500 !important;
  box-shadow: 0 0 0 0.25rem rgb(255, 153, 10, 0.25) !important;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif !important;
}

.carousel-next-icon,
.carousel-previous-icon {
  color: #f89d1d !important;
}

/* #ff8400 */

.btn-secondary {
  background-color:#ff8400 !important;
  border-color:#ff8400 !important;
}

.btn-outline-secondary {
  color:#ff8400 !important;
  border-color:#ff8400 !important;
}

.btn-outline-secondary:hover {
  background-color:#ff8400 !important;
  color: white !important;
}

.btn-outline-secondary:focus {
  background-color:#ff8400 !important;
  color: white !important;
}

.btn-secondary:focus,
.btn-outline-secondary:focus {
  border-color:#ff8400 !important;
  box-shadow: 0 0 0 0.25rem rgb(255, 153, 10, 0.25) !important;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #ff5500;
}

.avatar:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  outline: none;
}